:root {
    --bg: white;
    --texto: black;
    --cor-destaque: #8E2424;
    --bg-vinho: rgba(196, 25, 25, 0.06);
    --bg-cinza: #F9FAFB;
    --borda: #dcdfe4;
    --sombra: #1018283D;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --bg: #2e2e2e;
        --texto: #fafafa;
        --cor-destaque: #e43e3e;
        --bg-vinho: rgba(196, 25, 25, 0.199);
        --bg-cinza: #383838;
        --borda: #56575a;
        --sombra: #1018283D;
    }
}

body {
    background-color: var(--bg);
    color: var(--texto);
}

a {
    color: inherit;
}

#cadastrar {
    background-color: var(--cor-destaque);
    color: white;
    box-shadow: 0px 1px 15px var(--sombra);
}

.subtit {
    color: var(--cor-destaque);
}

#metricas h2 {
    color: var(--cor-destaque);
}

#vagas .subtit{
    background-color: var(--bg-vinho);
}

.espec-vaga {
    border-color: var(--borda);
}

#depoimentos {
    background-color: var(--bg-vinho);
}

footer {
    background-color: var(--bg-cinza);
}

#email input[type=email] {
    border: 1px solid var(--borda);
    background-color: var(--bg-cinza);
}

#email input[type=email]:focus {
    outline: 2px solid var(--cor-destaque);
    background-color: var(--bg);
}

#email input[type=submit] {
    background-color: var(--cor-destaque);
    color: white;
}

#copy {
    color: #b2b2b2;
}